<%- include( 'partials/header.ejs' ) %>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container js-content">
      <%- include( 'partials/title-block.ejs' ) %>
      <% if (notice) { %>
          <div class="notice notice--error">
            <% if (notice == 'not-found') { %>
              Room either doesn't exist or is full.
            <% } %>
          </div>
      <% } %>
      <div class="block js-enter-name">
        <form action="#" class="single-row-form js-enter-name-form">
          <p>Please enter your name:</p>
          <input class="single-row-form__input js-name-input" type="text" maxlength="10" required>
          <input type="submit" class="button" value="Find a game">
        </form>
      </div>
      <div class="block block--hidden js-rooms-list-block">
        <h2>Rooms</h2>
        <div class="room-list js-rooms-list">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Players</th>
              </tr>
            </thead>
            <tbody>
              <% rooms.sort((a, b) => a.name.localeCompare(b.name)).forEach(function(room) { %>
              <tr>
                <td><a href="<%= siteUrl %>/game/<%= room.name.toLowerCase() %>"><%= room.name %></a></td>
                <td><%= room.users.length %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
        <div class="buttons-row clearfix">
          <button class="js-refresh-rooms-btn button button--refresh" aria-label="Refresh" title="Refresh"></button>
          <button class="js-open-modal-btn js-create-room button" data-associated-modal-id="create-room-modal">Create room</button>
        </div>
      </div>
    </div>
    <button class="rules__btn js-open-modal-btn js-open-rules-modal-btn" data-associated-modal-id="rules-modal">Rules</button>
    <div class="modal modal--small js-modal js-create-room-modal" data-modal-id="create-room-modal">
      <div class="modal__inner">
        <button class="modal__close-btn js-close-modal-btn" title="Close modal">
          <%- include( '../static/images/cross.svg' ) %>
        </button>
        <h2 class="modal__heading js-modal-content">Create Room</h2>
        <div class='notice notice--error js-error-notice' style="display: none"></div>
        <form action="#" class="single-row-form js-create-room-form">
          <p>Enter your room name:</p>
          <input class="single-row-form__input js-room-name-input" name="room-name" type="text" required>
          <input type="submit" class="button" value="Create">
        </form>
      </div>
    </div>
    <%- include( 'partials/rules-modal.ejs' ) %>
    <script src="/socket.io/socket.io.js"></script>
    <script src="scripts/find-room.js" async defer></script>
    <%- include( 'partials/footer.ejs' ) %>