<%- include( 'partials/header.ejs' ) %>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container clearfix js-content">
      <%- include( 'partials/title-block.ejs' ) %>
      <div class="two-columns">
        <div class="two-columns__main">
          <div class="action-box clearfix">
            <div class="action-box__msg-box">
              <p class="js-msg-box-text"></p>
            </div>
            <div class="action-box__msg-box action-box__msg-box--buttons">
              <fieldset class="turn-choice" disabled="true">
                <button class="turn-choice__btn js-choose-roll">
                  <div>
                    <%- include( '../static/images/roll.svg' ) %>
                    <span>Roll</span>
                  </div>
                </button>
                <button class="turn-choice__btn js-choose-dig">
                  <div>
                    <%- include( '../static/images/dig.svg' ) %> 
                    <span>Dig</span>
                  </div>
                </button>
              </fieldset>
            </div>
            <div class="action-box__msg-box action-box__msg-box--roll">
              <p class="js-action-box-text"></p>
            </div>
          </div>
          <div class="action-box">
            <div class="invite js-copy-link-block">
              <p class="invite__large-text">Why not invite a friend?</p>
              <div class="invite__link js-copy-link-container clearfix">
                <input class="single-row-form__input single-row-form__input--pirata js-room-link" disabled value="<%= room_url %>">
                <button class="button button--pirata js-copy-link-btn">Copy link</button>
                <div class="invite__copied-notice js-copied-notice"></div>
              </div>
            </div>
          </div>
          <div class="clearfix">
            <div class="grid">
              <div class="grid__cell" data-row="1" data-col="1"></div>
              <div class="grid__cell" data-row="1" data-col="2"></div>
              <div class="grid__cell" data-row="1" data-col="3"></div>
              <div class="grid__cell" data-row="1" data-col="4"></div>
              <div class="grid__cell" data-row="1" data-col="5"></div>
              <div class="grid__cell" data-row="1" data-col="6"></div>
              <div class="grid__cell" data-row="1" data-col="7"></div>
              <div class="grid__cell" data-row="1" data-col="8"></div>
              <div class="grid__cell" data-row="1" data-col="9"></div>
              <div class="grid__cell" data-row="1" data-col="10"></div>
              <div class="grid__cell" data-row="2" data-col="1"></div>
              <div class="grid__cell" data-row="2" data-col="2"></div>
              <div class="grid__cell" data-row="2" data-col="3"></div>
              <div class="grid__cell" data-row="2" data-col="4"></div>
              <div class="grid__cell" data-row="2" data-col="5"></div>
              <div class="grid__cell" data-row="2" data-col="6"></div>
              <div class="grid__cell" data-row="2" data-col="7"></div>
              <div class="grid__cell" data-row="2" data-col="8"></div>
              <div class="grid__cell" data-row="2" data-col="9"></div>
              <div class="grid__cell" data-row="2" data-col="10"></div>
              <div class="grid__cell" data-row="3" data-col="1"></div>
              <div class="grid__cell" data-row="3" data-col="2"></div>
              <div class="grid__cell" data-row="3" data-col="3"></div>
              <div class="grid__cell" data-row="3" data-col="4"></div>
              <div class="grid__cell" data-row="3" data-col="5"></div>
              <div class="grid__cell" data-row="3" data-col="6"></div>
              <div class="grid__cell" data-row="3" data-col="7"></div>
              <div class="grid__cell" data-row="3" data-col="8"></div>
              <div class="grid__cell" data-row="3" data-col="9"></div>
              <div class="grid__cell" data-row="3" data-col="10"></div>
              <div class="grid__cell" data-row="4" data-col="1"></div>
              <div class="grid__cell" data-row="4" data-col="2"></div>
              <div class="grid__cell" data-row="4" data-col="3"></div>
              <div class="grid__cell" data-row="4" data-col="4"></div>
              <div class="grid__cell" data-row="4" data-col="5"></div>
              <div class="grid__cell" data-row="4" data-col="6"></div>
              <div class="grid__cell" data-row="4" data-col="7"></div>
              <div class="grid__cell" data-row="4" data-col="8"></div>
              <div class="grid__cell" data-row="4" data-col="9"></div>
              <div class="grid__cell" data-row="4" data-col="10"></div>
              <div class="grid__cell" data-row="5" data-col="1"></div>
              <div class="grid__cell" data-row="5" data-col="2"></div>
              <div class="grid__cell" data-row="5" data-col="3"></div>
              <div class="grid__cell" data-row="5" data-col="4"></div>
              <div class="grid__cell" data-row="5" data-col="5"></div>
              <div class="grid__cell" data-row="5" data-col="6"></div>
              <div class="grid__cell" data-row="5" data-col="7"></div>
              <div class="grid__cell" data-row="5" data-col="8"></div>
              <div class="grid__cell" data-row="5" data-col="9"></div>
              <div class="grid__cell" data-row="5" data-col="10"></div>
              <div class="grid__cell" data-row="6" data-col="1"></div>
              <div class="grid__cell" data-row="6" data-col="2"></div>
              <div class="grid__cell" data-row="6" data-col="3"></div>
              <div class="grid__cell" data-row="6" data-col="4"></div>
              <div class="grid__cell" data-row="6" data-col="5"></div>
              <div class="grid__cell" data-row="6" data-col="6"></div>
              <div class="grid__cell" data-row="6" data-col="7"></div>
              <div class="grid__cell" data-row="6" data-col="8"></div>
              <div class="grid__cell" data-row="6" data-col="9"></div>
              <div class="grid__cell" data-row="6" data-col="10"></div>
              <div class="grid__cell" data-row="7" data-col="1"></div>
              <div class="grid__cell" data-row="7" data-col="2"></div>
              <div class="grid__cell" data-row="7" data-col="3"></div>
              <div class="grid__cell" data-row="7" data-col="4"></div>
              <div class="grid__cell" data-row="7" data-col="5"></div>
              <div class="grid__cell" data-row="7" data-col="6"></div>
              <div class="grid__cell" data-row="7" data-col="7"></div>
              <div class="grid__cell" data-row="7" data-col="8"></div>
              <div class="grid__cell" data-row="7" data-col="9"></div>
              <div class="grid__cell" data-row="7" data-col="10"></div>
              <div class="grid__cell" data-row="8" data-col="1"></div>
              <div class="grid__cell" data-row="8" data-col="2"></div>
              <div class="grid__cell" data-row="8" data-col="3"></div>
              <div class="grid__cell" data-row="8" data-col="4"></div>
              <div class="grid__cell" data-row="8" data-col="5"></div>
              <div class="grid__cell" data-row="8" data-col="6"></div>
              <div class="grid__cell" data-row="8" data-col="7"></div>
              <div class="grid__cell" data-row="8" data-col="8"></div>
              <div class="grid__cell" data-row="8" data-col="9"></div>
              <div class="grid__cell" data-row="8" data-col="10"></div>
              <div class="grid__cell" data-row="9" data-col="1"></div>
              <div class="grid__cell" data-row="9" data-col="2"></div>
              <div class="grid__cell" data-row="9" data-col="3"></div>
              <div class="grid__cell" data-row="9" data-col="4"></div>
              <div class="grid__cell" data-row="9" data-col="5"></div>
              <div class="grid__cell" data-row="9" data-col="6"></div>
              <div class="grid__cell" data-row="9" data-col="7"></div>
              <div class="grid__cell" data-row="9" data-col="8"></div>
              <div class="grid__cell" data-row="9" data-col="9"></div>
              <div class="grid__cell" data-row="9" data-col="10"></div>
              <div class="grid__cell" data-row="10" data-col="1"></div>
              <div class="grid__cell" data-row="10" data-col="2"></div>
              <div class="grid__cell" data-row="10" data-col="3"></div>
              <div class="grid__cell" data-row="10" data-col="4"></div>
              <div class="grid__cell" data-row="10" data-col="5"></div>
              <div class="grid__cell" data-row="10" data-col="6"></div>
              <div class="grid__cell" data-row="10" data-col="7"></div>
              <div class="grid__cell" data-row="10" data-col="8"></div>
              <div class="grid__cell" data-row="10" data-col="9"></div>
              <div class="grid__cell" data-row="10" data-col="10"></div>
              <div class="splash-msg">
                <p class="splash-msg__text"></p>
              </div>
              <div class="grid__highlight"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="two-columns__sidebar">
        <div class="scoreboard">
          <div class="scoreboard__player js-scoreboard-player" data-player-id="">
            <div class="scoreboard__name js-player-name"></div>
            <div class="scoreboard__score-container">
              <span class="scoreboard__score js-score-player" data-player-score="0">0</span>
            </div>
          </div>
          <div class="scoreboard__player scoreboard__player--opponent js-scoreboard-opponent" data-player-id="">
            <div class="scoreboard__name js-opponent-name"></div>
            <div class="scoreboard__score-container">
              <span class="scoreboard__score js-score-opponent" data-player-score="0">0</span>
            </div>
          </div>
        </div>
        <div class="sidebar">
          <div class="clearfix">
            <button class="button button--sidebar button--sidebar-active js-sidebar-tab-button" data-associated-tab="log">Game log</button>
            <button class="button button--sidebar js-sidebar-tab-button js-sidebar-tab-button-chat" data-associated-tab="chat">Chat</button>
          </div>
          <div class="sidebar__tab sidebar__tab--active" data-tab="log">
            <div class="sidebar__body">
              <div class="sidebar__text--history"></div>
              <div class="sidebar__text"></div>
            </div>
          </div>
          <div class="sidebar__tab" data-tab="chat">
            <div class="sidebar__body sidebar__body--chat js-chat-body">
              <div class="sidebar__text--history"></div>
              <div class="sidebar__text">
                <div class="sidebar__chat-message">
                  <p class="sidebar__chat-name"></p>
                  <p class="sidebar__chat-text"></p>
                </div>
              </div>
            </div>
            <form class="sidebar__chatbox js-chat-form">
              <input type="text" class="sidebar__chat-input js-chat-input">
              <input class="button button--chat js-send-chat" type="submit" value="Send">
            </form>
          </div>
        </div>
      </div>
    </div>
    <button class="rules__btn js-open-modal-btn js-open-rules-modal-btn" data-associated-modal-id="rules-modal">Rules</button>
    <div class="js-room-name" data-room-name="<%= room_name %>" hidden></div>
    <%- include( 'partials/player-name-modal.ejs' ) %>
    <%- include( 'partials/rules-modal.ejs' ) %>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../scripts/game.js" async defer></script>
<%- include( 'partials/footer.ejs' ) %>